body {
  margin: 0;
  padding: 0;
  background-color: #e6eef5;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}




@keyframes popIn {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
